testing/Connected Services/ServiceReference1/MailService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OMail.MailService.DataLayer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OMail.MailService.DataLayer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="User">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>